* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family:  var(--font-padrao);
}


:root{
    --tamanho-fonte-padrao: 16px;
    --tamanho-fonte-titulo: 35px;
    --tamanho-fonte-subtitulo:30px;

    --cor-vermelha: #CE2C2C;
    --cor-fundo: #eef1f5;
    --cor-texto: #0f172a;
    --cor-cinza: #9ca3af;

    --vermelho: #cf2929;
    --fundo: #eef1f5;
    --texto: #111111;
    --cinza-texto: #444444;
}

.layout_guide {
  width: 80%;
}

a {
    color: inherit;
    text-decoration: none;
}

button,
input {
    font-family: inherit;
}